In [12]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy
from config import weather_api_key
import requests
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [13]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [14]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [15]:
# Use the tuple() function to display the latitude and longitude combinations.
# for coordinate in coordinates:
#     print(coordinate[0], coordinate[1])

In [16]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

596

In [17]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=814b8a709d2063b56a9bcec3265ac8d3

In [18]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [19]:
# Loop through all the cities in our list.
# for i in range(len(cities)):

#     # Group cities in sets of 50 for logging purposes.
#     if (i % 50 == 0 and i >= 50):
#         set_count += 1
#         record_count = 1
#         time.sleep(60)

#     # Create endpoint URL with each city.
#     city_url = url + "&q=" + cities[i]

In [ ]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 1 | albany
Processing Record 2 of Set 1 | norman wells
Processing Record 3 of Set 1 | college
Processing Record 4 of Set 1 | catuday
Processing Record 5 of Set 1 | east london
Processing Record 6 of Set 1 | ourem
Processing Record 7 of Set 1 | shimoda
Processing Record 8 of Set 1 | butaritari
Processing Record 9 of Set 1 | upernavik
Processing Record 10 of Set 1 | attawapiskat
City not found. Skipping...
Processing Record 11 of Set 1 | mpulungu
Processing Record 12 of Set 1 | esperance
Processing Record 13 of Set 1 | cayenne
Processing Record 14 of Set 1 | thompson
Processing Record 15 of Set 1 | bluff
Processing Record 16 of Set 1 | punta arenas
Processing Record 17 of Set 1 | barentsburg
City not found. Skipping...
Processing Record 18 of Set 1 | rikitea
Processing Record 19 of Set 1 | souillac
Processing Record 20 of Set 1 | ust-kuyga
Processing Record 21 of Set 1 | georgetown
Processing Record 22 of Set 1 | suao
City not found. Skipping...
Processing Record 23 of Set 1 | avarua
Processing Record 24 of Set 1 | carutapera
Processing Record 25 of Set 1 | jamestown
Processing Record 26 of Set 1 | tromso
Processing Record 27 of Set 1 | verkhnevilyuysk
Processing Record 28 of Set 1 | mataura
Processing Record 29 of Set 1 | port elizabeth
Processing Record 30 of Set 1 | faanui
Processing Record 31 of Set 1 | mezen
Processing Record 32 of Set 1 | hithadhoo
Processing Record 33 of Set 1 | margate
Processing Record 34 of Set 1 | ushuaia
Processing Record 35 of Set 1 | dunedin
Processing Record 36 of Set 1 | hilo
Processing Record 37 of Set 1 | kutum
Processing Record 38 of Set 1 | sovetskaya gavan
Processing Record 39 of Set 1 | saint george
Processing Record 40 of Set 1 | barrow
Processing Record 41 of Set 1 | ahipara
Processing Record 42 of Set 1 | salalah
Processing Record 43 of Set 1 | busselton
Processing Record 44 of Set 1 | impfondo
Processing Record 45 of Set 1 | provideniya
Processing Record 46 of Set 1 | buraydah
Processing Record 47 of Set 1 | bonoua
Processing Record 48 of Set 1 | kavaratti
Processing Record 49 of Set 1 | mahebourg
Processing Record 50 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 1 of Set 2 | lebu
Processing Record 2 of Set 2 | yellowknife
Processing Record 3 of Set 2 | lemon tree passage
Processing Record 4 of Set 2 | ribeira grande
Processing Record 5 of Set 2 | moen
Processing Record 6 of Set 2 | santa cruz
Processing Record 7 of Set 2 | sorvag
City not found. Skipping...
Processing Record 8 of Set 2 | hermanus
Processing Record 9 of Set 2 | kapaa
Processing Record 10 of Set 2 | kahului
Processing Record 11 of Set 2 | samusu
City not found. Skipping...
Processing Record 12 of Set 2 | vestmannaeyjar
Processing Record 13 of Set 2 | karratha
Processing Record 14 of Set 2 | cape town
Processing Record 15 of Set 2 | saint-philippe
Processing Record 16 of Set 2 | pangnirtung
Processing Record 17 of Set 2 | nizhneyansk
City not found. Skipping...
Processing Record 18 of Set 2 | srednekolymsk
Processing Record 19 of Set 2 | ballina
Processing Record 20 of Set 2 | faya
Processing Record 21 of Set 2 | sentyabrskiy
City not found. Skipping...
Processing Record 22 of Set 2 | bagdarin
Processing Record 23 of Set 2 | kununurra
Processing Record 24 of Set 2 | cidreira
Processing Record 25 of Set 2 | padilla
Processing Record 26 of Set 2 | qaanaaq
Processing Record 27 of Set 2 | gornopravdinsk
Processing Record 28 of Set 2 | atuona
Processing Record 29 of Set 2 | praia da vitoria
Processing Record 30 of Set 2 | juntas
Processing Record 31 of Set 2 | north platte
Processing Record 32 of Set 2 | cabo san lucas
Processing Record 33 of Set 2 | saldanha
Processing Record 34 of Set 2 | rocha
Processing Record 35 of Set 2 | bredasdorp
Processing Record 36 of Set 2 | guajara-mirim
City not found. Skipping...
Processing Record 37 of Set 2 | vaini
Processing Record 38 of Set 2 | palabuhanratu
City not found. Skipping...
Processing Record 39 of Set 2 | pevek
Processing Record 40 of Set 2 | lompoc
Processing Record 41 of Set 2 | bengkulu
Processing Record 42 of Set 2 | koshurnikovo
Processing Record 43 of Set 2 | ilulissat
Processing Record 44 of Set 2 | saleaula
City not found. Skipping...
Processing Record 45 of Set 2 | tekeli
Processing Record 46 of Set 2 | longyearbyen
Processing Record 47 of Set 2 | manoel urbano
Processing Record 48 of Set 2 | leningradskiy
Processing Record 49 of Set 2 | narsaq
Processing Record 50 of Set 2 | lake jackson
Processing Record 1 of Set 3 | hay river
Processing Record 2 of Set 3 | jinchang
Processing Record 3 of Set 3 | hobart
Processing Record 4 of Set 3 | sahrak
City not found. Skipping...
Processing Record 5 of Set 3 | prince rupert
Processing Record 6 of Set 3 | pisco
Processing Record 7 of Set 3 | dolhasca
Processing Record 8 of Set 3 | walvis bay
Processing Record 9 of Set 3 | tuktoyaktuk
Processing Record 10 of Set 3 | elk city
Processing Record 11 of Set 3 | alyangula
Processing Record 12 of Set 3 | peleduy
Processing Record 13 of Set 3 | dawlatabad
Processing Record 14 of Set 3 | airai
Processing Record 15 of Set 3 | grand river south east
City not found. Skipping...
Processing Record 16 of Set 3 | nayoro
Processing Record 17 of Set 3 | alvorada
Processing Record 18 of Set 3 | petropavlovsk-kamchatskiy
Processing Record 19 of Set 3 | bayir
Processing Record 20 of Set 3 | nome
Processing Record 21 of Set 3 | hibbing
Processing Record 22 of Set 3 | belushya guba
City not found. Skipping...
Processing Record 23 of Set 3 | qarqin
Processing Record 24 of Set 3 | meulaboh
Processing Record 25 of Set 3 | port alfred
Processing Record 26 of Set 3 | severnoye
Processing Record 27 of Set 3 | tyrma
Processing Record 28 of Set 3 | hunza
City not found. Skipping...
Processing Record 29 of Set 3 | severo-kurilsk
Processing Record 30 of Set 3 | dzhusaly
City not found. Skipping...
Processing Record 31 of Set 3 | saint-joseph
Processing Record 32 of Set 3 | avera
Processing Record 33 of Set 3 | salvador
Processing Record 34 of Set 3 | christchurch
Processing Record 35 of Set 3 | rujiena
Processing Record 36 of Set 3 | harper
Processing Record 37 of Set 3 | haines junction
Processing Record 38 of Set 3 | miramar
Processing Record 39 of Set 3 | arlit
Processing Record 40 of Set 3 | grand-bourg
Processing Record 41 of Set 3 | nishihara
Processing Record 42 of Set 3 | bushehr
Processing Record 43 of Set 3 | lavrentiya
Processing Record 44 of Set 3 | kaitangata
Processing Record 45 of Set 3 | chuy
Processing Record 46 of Set 3 | iqaluit
Processing Record 47 of Set 3 | baker city
Processing Record 48 of Set 3 | synya
Processing Record 49 of Set 3 | viedma
Processing Record 50 of Set 3 | bemidji
Processing Record 1 of Set 4 | umm jarr
City not found. Skipping...
Processing Record 2 of Set 4 | castro
Processing Record 3 of Set 4 | quatre cocos
Processing Record 4 of Set 4 | katsuura
Processing Record 5 of Set 4 | new norfolk
Processing Record 6 of Set 4 | vung tau
Processing Record 7 of Set 4 | batagay
Processing Record 8 of Set 4 | ishigaki
Processing Record 9 of Set 4 | karkaralinsk
City not found. Skipping...
Processing Record 10 of Set 4 | altay
Processing Record 11 of Set 4 | tonota
Processing Record 12 of Set 4 | padang
Processing Record 13 of Set 4 | torbay
Processing Record 14 of Set 4 | pinheiro machado
Processing Record 15 of Set 4 | vysokaya gora
Processing Record 16 of Set 4 | beringovskiy
Processing Record 17 of Set 4 | arraial do cabo
Processing Record 18 of Set 4 | xuchang
Processing Record 19 of Set 4 | gornyak
Processing Record 20 of Set 4 | manaure
Processing Record 21 of Set 4 | ust-kamchatsk
City not found. Skipping...
Processing Record 22 of Set 4 | victoria point
Processing Record 23 of Set 4 | zyryanovsk
Processing Record 24 of Set 4 | chokurdakh
Processing Record 25 of Set 4 | tsiroanomandidy
Processing Record 26 of Set 4 | salinopolis
Processing Record 27 of Set 4 | abu samrah
Processing Record 28 of Set 4 | sharjah
Processing Record 29 of Set 4 | beni
Processing Record 30 of Set 4 | noumea
Processing Record 31 of Set 4 | sambava
Processing Record 32 of Set 4 | gravelbourg
Processing Record 33 of Set 4 | puqi
Processing Record 34 of Set 4 | vila velha
Processing Record 35 of Set 4 | taksimo

Processing Record 36 of Set 4 | alofi
Processing Record 37 of Set 4 | codrington
Processing Record 38 of Set 4 | vestmanna
Processing Record 39 of Set 4 | albina
Processing Record 40 of Set 4 | san quintin
Processing Record 41 of Set 4 | innisfail
Processing Record 42 of Set 4 | dikson
Processing Record 43 of Set 4 | nacala
Processing Record 44 of Set 4 | klyuchi
Processing Record 45 of Set 4 | cherskiy
Processing Record 46 of Set 4 | nantucket
Processing Record 47 of Set 4 | puerto ayora
Processing Record 48 of Set 4 | itarema
Processing Record 49 of Set 4 | sao filipe
Processing Record 50 of Set 4 | victoria
Processing Record 1 of Set 5 | la concordia
Processing Record 2 of Set 5 | vostok
Processing Record 3 of Set 5 | touros
Processing Record 4 of Set 5 | la rioja
Processing Record 5 of Set 5 | kodiak
Processing Record 6 of Set 5 | tsihombe
City not found. Skipping...
Processing Record 7 of Set 5 | poum
Processing Record 8 of Set 5 | bandarbeyla
Processing Record 9 of Set 5 | chernyshevskiy
Processing Record 10 of Set 5 | lagoa
Processing Record 11 of Set 5 | labuhan
Processing Record 12 of Set 5 | kamenskoye
City not found. Skipping...
Processing Record 13 of Set 5 | ngukurr
City not found. Skipping...
Processing Record 14 of Set 5 | illoqqortoormiut
City not found. Skipping...
Processing Record 15 of Set 5 | ambilobe
Processing Record 16 of Set 5 | hobyo
Processing Record 17 of Set 5 | nouadhibou
Processing Record 18 of Set 5 | namatanai
Processing Record 19 of Set 5 | tasiilaq
Processing Record 20 of Set 5 | upata
Processing Record 21 of Set 5 | hofn
Processing Record 22 of Set 5 | carnarvon
Processing Record 23 of Set 5 | klaksvik
Processing Record 24 of Set 5 | olinda
Processing Record 25 of Set 5 | lenine
Processing Record 26 of Set 5 | solnechnyy
Processing Record 27 of Set 5 | port lincoln
Processing Record 28 of Set 5 | jiuquan
Processing Record 29 of Set 5 | rameswaram
Processing Record 30 of Set 5 | gayeri
Processing Record 31 of Set 5 | simpang
Processing Record 32 of Set 5 | genhe
Processing Record 33 of Set 5 | ust-tsilma
Processing Record 34 of Set 5 | bambous virieux
Processing Record 35 of Set 5 | xiongzhou
Processing Record 36 of Set 5 | atar
Processing Record 37 of Set 5 | samarai
Processing Record 38 of Set 5 | berlevag
Processing Record 39 of Set 5 | te anau
Processing Record 40 of Set 5 | jos
Processing Record 41 of Set 5 | seoul
Processing Record 42 of Set 5 | panorama
Processing Record 43 of Set 5 | aviles
Processing Record 44 of Set 5 | ancud
Processing Record 45 of Set 5 | port moresby
Processing Record 46 of Set 5 | saskylakh
Processing Record 47 of Set 5 | mbandaka
Processing Record 48 of Set 5 | zhigansk
Processing Record 49 of Set 5 | ipameri
Processing Record 50 of Set 5 | sahbuz
Processing Record 1 of Set 6 | tshane
Processing Record 2 of Set 6 | halden
Processing Record 3 of Set 6 | tashara
Processing Record 4 of Set 6 | eureka
Processing Record 5 of Set 6 | tabory
Processing Record 6 of Set 6 | constitucion
Processing Record 7 of Set 6 | bonthe
Processing Record 8 of Set 6 | bukama
Processing Record 9 of Set 6 | mys shmidta
City not found. Skipping...
Processing Record 10 of Set 6 | bethel
Processing Record 11 of Set 6 | nova friburgo
Processing Record 12 of Set 6 | champerico
Processing Record 13 of Set 6 | moose factory
Processing Record 14 of Set 6 | nikolskoye
Processing Record 15 of Set 6 | portland
Processing Record 16 of Set 6 | canico

In [30]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Marienburg,54.0359,19.0266,34.12,86,6,4.63,PL,2022-03-03 02:50:52
1,Kampene,-3.6000,26.6667,66.79,99,100,0.98,CD,2022-03-03 02:50:53
2,Mahibadhoo,3.7833,72.9667,82.87,64,100,13.22,MV,2022-03-03 02:50:53
3,Tautira,-17.7333,-149.1500,86.02,76,28,14.52,PF,2022-03-03 02:50:53
4,Paraiso,9.8383,-83.8656,65.26,85,82,4.32,CR,2022-03-03 02:50:54
5,Hampton,37.0299,-76.3452,50.99,81,0,12.66,US,2022-03-03 02:49:09
6,Geraldton,-28.7667,114.6000,75.61,31,0,20.71,AU,2022-03-03 02:50:54
7,Marsa Matruh,31.3525,27.2453,53.80,82,0,13.80,EG,2022-03-03 02:50:55
8,Ushuaia,-54.8000,-68.3000,49.66,76,75,5.75,AR,2022-03-03 02:50:32
9,Vila Franca Do Campo,37.7167,-25.4333,57.20,72,100,4.68,PT,2022-03-03 02:50:55

In [39]:
# Reorder thr DataFrame Columns
new_column_order = ["City", "Country", "Date", "Lat", "Lng","Max Temp", "Humidity", "Cloudiness", "Wind Speed"]

In [26]:
# assign the same DataFrame with new column order:
new_city_data_df = pd.DataFrame(city_data_df)
new_city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Albany,42.6001,-73.9662,33.75,48,43,7.00,US,2022-03-03 18:21:57
1,Norman Wells,65.2820,-126.8329,-0.36,71,20,2.30,CA,2022-03-03 18:21:57
2,College,64.8569,-147.8028,2.08,78,40,0.00,US,2022-03-03 18:21:58
3,Catuday,16.2923,119.8062,77.49,76,30,7.81,PH,2022-03-03 18:21:58
4,East London,-33.0153,27.9116,72.54,100,100,3.44,ZA,2022-03-03 18:21:58
5,Ourem,39.6417,-8.5919,52.30,84,5,1.99,PT,2022-03-03 18:21:58
6,Shimoda,34.6667,138.9500,40.10,59,56,5.28,JP,2022-03-03 18:21:59
7,Butaritari,3.0707,172.7902,80.65,81,100,12.33,KI,2022-03-03 18:21:59
8,Upernavik,72.7868,-56.1549,13.19,88,100,17.98,GL,2022-03-03 18:21:59
9,Mpulungu,-8.7623,31.1141,73.29,81,46,2.51,ZM,2022-03-03 18:22:00

In [29]:
new_city_data_df = new_city_data_df[new_column_order]
new_city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Albany,US,2022-03-03 18:21:57,42.6001,-73.9662,33.75,48,43,7.00
1,Norman Wells,CA,2022-03-03 18:21:57,65.2820,-126.8329,-0.36,71,20,2.30
2,College,US,2022-03-03 18:21:58,64.8569,-147.8028,2.08,78,40,0.00
3,Catuday,PH,2022-03-03 18:21:58,16.2923,119.8062,77.49,76,30,7.81
4,East London,ZA,2022-03-03 18:21:58,-33.0153,27.9116,72.54,100,100,3.44
5,Ourem,PT,2022-03-03 18:21:58,39.6417,-8.5919,52.30,84,5,1.99
6,Shimoda,JP,2022-03-03 18:21:59,34.6667,138.9500,40.10,59,56,5.28
7,Butaritari,KI,2022-03-03 18:21:59,3.0707,172.7902,80.65,81,100,12.33
8,Upernavik,GL,2022-03-03 18:21:59,72.7868,-56.1549,13.19,88,100,17.98
9,Mpulungu,ZM,2022-03-03 18:22:00,-8.7623,31.1141,73.29,81,46,2.51

In [32]:
# Create the output file (CSV).
# output_data_file = "weather_database/cities.csv"
# Export the City_Data into a CSV.
# new_city_data_df.to_csv(output_data_file, index_label="City_ID")
output_data_file = "weather_database/WeatherPy_Database.csv"
new_city_data_df.to_csv(output_data_file, index_label="City_ID")